@-webkit-keyframes copy {
  0% {
    top: -100px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
}
@keyframes copy {
  0% {
    top: -100px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
}
/*-----VARS-----*/
/*-----/VARS-----*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: rgb(48, 48, 141);
}

.container {
  width: 840px;
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.password-title {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: rgb(201, 131, 1);
}

.password-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.password-block .input-password {
  border: 1px solid rgb(201, 131, 1);
  border-radius: 5px;
  width: 80%;
  height: 30px;
  padding-left: 10px;
  color: rgb(201, 131, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.password-block .input-length {
  border: 1px solid rgb(201, 131, 1);
  border-radius: 5px;
  width: 10%;
  height: 30px;
  color: rgb(201, 131, 1);
}
.password-block::before {
  content: "Length of pass";
  position: absolute;
  right: 60px;
  top: -10px;
  color: rgb(201, 131, 1);
}
.password-block::after {
  content: "Your password";
  position: absolute;
  left: 0px;
  top: -10px;
  color: rgb(201, 131, 1);
}

.input-password {
  border: 1px solid rgb(201, 131, 1);
  border-radius: 5px;
  width: 80%;
  height: 30px;
  padding-left: 10px;
  color: rgb(201, 131, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(201, 131, 1);
  font-weight: 700;
}
.options::after {
  content: "Chose options";
  position: absolute;
  left: 0px;
  top: -16px;
  color: rgb(201, 131, 1);
  font-weight: 400;
}

.option {
  border: 1px solid rgb(201, 131, 1);
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.option:hover {
  background-color: rgb(201, 131, 1);
  color: #000;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.button-generate {
  background-color: rgb(201, 131, 1);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
  margin: 0 auto;
}

.input-checked {
  background-color: rgb(201, 131, 1);
  color: #000;
}

.passwords-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
  max-height: 250px;
}

.password-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-password--sup {
  width: 92.5%;
}

.copy-block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 80px;
  overflow: hidden;
}

.copy-info {
  position: absolute;
  left: 0%;
  top: -100%;
  width: 200px;
  height: 60px;
  border: 1px solid rgb(201, 131, 1);
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.copy-info p {
  color: rgb(201, 131, 1);
  font-weight: 700;
}

.show-popup {
  -webkit-animation: copy 1.5s;
          animation: copy 1.5s;
}

.hide-popup {
  animation: copy 0.5s reverse;
}